<nav class="top-bar" data-topbar>
  <ul class="title-area">

    <li class="name">
      <h1>
        <a href="#">
          <%= __('Comic Headquarters') %>
        </a>
      </h1>
    </li>
    <li class="toggle-topbar menu-icon"><a href="#"><span>menu</span></a></li>
  </ul>

  <section class="top-bar-section">
    <ul class="right">
      <li class="divider"></li>
      <li class="has-dropdown">
        <a href="#"><%= __('Menu') %></a>
        <ul class="dropdown">
          <li><label><%= __('Usuário') %></label></li>
          <li><a href="#"><%= __('Minhas assinaturas') %></a></li>
          <li><a href="#"><%= __('Dashboard') %></a></li>
          <li class="divider"></li>
          <li><a href="#"><%= __('Logout') %></a></li>
        </ul>
      </li>
    </ul>
  </section>
</nav>
